<div class="row row-cols-1 row-cols-md-12 mb-12 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Restock</h4>
      </div>
      <div class="card-body">
        <p class="fs-5 text-muted">Restock all $100, $50, $20, $10, $5 and $1 bills.</p>
        <button type="button" (click)="restock()" class="w-100 btn btn-lg btn-outline-primary">Restock All</button>
      </div>
    </div>
  </div>
</div>
